body {
    height: 100%;
    font-size: small;
    font-family: arial, sans-serif;
    overflow: hidden;
}

.head-bar {
    display: inline-block;
    margin-top: 10px;
    padding: 10px;
    color: #3a3a3a;
    text-decoration: none;
}

.head-bar.right {
    float: right;
}

.head-bar:hover {
    cursor: pointer;
    text-decoration: underline;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    padding-bottom: 20px;
    width: 272px;
    height: 92px;
}

.search-container {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 52px;
}

.search-bar {
    vertical-align: middle;
    margin: auto;
    left: 25%;
    padding: 3px 8px 3px 14px;
    background: #fff;
    display: flex;
    border-radius: 8px;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 38px;
    width: 482px;
}

.search-logo {
    display: flex;
    align-items: center;
    margin: 0 10px 0 0;
    display: block;
    width: 20px;
    height: 38px;
    opacity: 0.5;
}

input {
    width: 427px;
    height: 34px;
    border: 0;
    font-size: 1.5em;
}

input:focus {
    outline: none;
}

.voice-button {
    position: absolute;
    left: 50%;
    margin: 2px 0 2px 280px;
    border: 1px solid #dadce0;
    border-radius: 74%;
    background: url(//www.gstatic.com/images/branding/googlemic/2x/googlemic_color_24dp.png) 0 0 no-repeat;
    background-size: 24px;
    background-position: center;
    padding: 10px;
    width: 24px;
    height: 24px;
}

.search-button-container {
    margin: 0 auto;
    display: flex;
    width: 387px;
    height: 36px;
    padding-top: 18px;
}

.search-button-container .search-button {
    margin-left: auto;
    color: #1a73e8;
    background: white;
    border-radius: 4px;
    border: 1px solid #dadce0;
    padding: 0 24px;
    font-size: 14px;
    width: 145px;
    height: 100%;
}

.search-button-container .lucky-button {
    margin: auto;
    background: white;
    color: #1a73e8;
    border: none;
    padding: 0 24px;
    font-size: 14px;
    width: 160px;
    height: 100%;
}

.foot-bar {
    background: #f2f2f2;
    opacity: 0.8;
    line-height: 40px;
    min-width: 980px;
    border-top: 1px solid #e4e4e4;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 82px;
}

.foot-top {
    color: #111111;
    font-size: 15px;
    padding-left: 20px;
}

.foot-bottom {
    display: flex;
    justify-content: flex-start;
    border-top: 1px solid #e4e4e4;
    padding: 0 10px 0;
}

.foot-bottom a {
    color: #111111;
    text-decoration: none;
    padding: 0 10px 0;
}

.foot-bottom a:hover {
    text-decoration: underline;
}

.foot-bottom a.divider {
    margin-left: auto;
}